customtkinter==5.2.1
darkdetect==0.8.0
EasyPySpin==2.0.1
numpy==1.24.4
opencv-contrib-python==4.8.1.78
packaging==23.2
Pillow==10.1.0
spinnaker-python @ _dependancies/spinnaker_python-3.1.0.79-cp38-cp38-macosx_10_14_x86_64.whl
